@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #DBE2EF;
    display: flex;
    justify-content: center;
    margin: 80px;
    font-family: 'Karla';
    font-family: 'Karla', sans-serif;
}

main {
    width: 600px;
    height: auto;
    padding: 50px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.header {
    display: flex;
    padding: 20px;
}

h1 {
    font-size: 20px;
    color: #112D4E;
    flex-grow: 1;
}

#task-input {
    width: 200px;
    background-color: #DBE2EF;
    outline: none;
    border: 1px solid #B1B1B1;
    padding: 5px;
    font-family: inherit;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#add-button {
    width: 25px;
    font-size: 18px;
    background-color: #112D4E;
    color: #DBE2EF;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.task-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    height: 40px;
    padding: 20px;
    background: #DBE2EF;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    gap: 10px;
    margin: 25px 0;
}

#task {
    flex-grow: 1;
}

.del-btn {
    width: 30px;
    background: inherit;
    color: #112D4E;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}


/* input[type="checkbox"]:checked {
some code goes here
} */





